main{
    width: 100%; 
    padding: 0 197px;
    margin: 0 auto;
    margin-top: 80px;
}
.main_txt{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.main_txt>h2{
    font-size: 24px;
    font-weight: 700;
}
.household>img{
    width: 100%; height: auto;
    padding-top: 150px;
}
.search{
    display: flex;
    vertical-align: middle;
    gap: 5px;
}
.search>input{
    max-width: 200px; height: 30px;
    width: 100%;
}
.search>button{
    max-width: 50px;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #000;
}
.search>button:hover{
    color: #fff;
    background-color: rgb(250, 184, 98);
    border: 1px solid rgb(250, 184, 98);
}



.sec1>figure{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px 0;
}
.sec1 img{
    width: 100%; height: auto;
    border-radius: 5%;
}
.goods>p{
    max-height: 30px;
    font-size: 15px;
    color: #999;
    padding: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.goods>p:hover{
    color: rgb(255, 145, 0);
}
.goods>h3{
    max-height: 50px;
    font-size: 17px;
    color: black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.goods>h3:hover{
    color: rgb(255, 145, 0);
}
.goods>h4{
    font-size: 15px;
    color: rgb(250, 184, 98);
}


.goods_button{
    width: 380px; height: 30px;
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 80px;
}
.goods_button>div{
    width: 100%;
    display: flex;
    gap: 25px;
}
.goods_button>div>a>p{
    font-size: 20px;
    font-weight: normal;
    color: grey;
}
.goods_button>div>a:hover>p{
    color: rgb(250, 184, 98);
}






@media screen and (max-width: 1028px){
    main{
        width: 100%; 
        padding: 0 30px;
        margin: 0 auto;
        margin-top: 80px;
    }
    .household>img{
        padding-top: 100px;
    }



}









@media screen and (max-width: 720px){
    .sec1>figure{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 10px 0;
    }



    .search>input{
        max-width: 100px; height: 30px;
        width: 100%;
    }


    .goods_button{
        max-width: 380px; height: 30px;
        width: 100%;
        margin: 0 auto;
        padding-top: 80px;
        margin-bottom: 80px;
    }
    .goods_button>div{
        gap: 2.4vw;
    }
    .goods_button>div>a{
        margin: 0 auto;
    }
    .goods_button>div>a>p{
        font-size: 20px;
    }

}